<h1>SHOP SCRAPER WIP</h1>


<div class="container">
    <h2>Look up your item</h2>
    <div class="input-group">
        <input type="text" id="myInput" #myInput [(ngModel)]="inputValue" placeholder="Enter text">
        <input type="submit" id="submitBtn" value="Submit" [disabled]="!selectedStore"
            (click)="submitText(myInput.value, selectedStore)">
    </div>

    <input type="checkbox" id="delhaizeCheckbox" [checked]="selectedStore === 'Delhaize'"
        (change)="onCheckboxChange($event, 'Delhaize')">
    <label for="delhaizeCheckbox">Delhaize</label>

    <input type="checkbox" id="ahCheckbox" [checked]="selectedStore === 'Albert Heijn'"
        (change)="onCheckboxChange($event, 'AH')">
    <label for="ahCheckbox">Albert Heijn</label>

    <input type="checkbox" id="carrefourCheckbox" [checked]="selectedStore === 'Carrefour'"
        (change)="onCheckboxChange($event, 'Carrefour')">
    <label for="carrefourCheckbox">Carrefour</label>


    <p>item: {{ inputValue }}</p>
    <p>Selected Store: {{ selectedStore }}</p>
</div>

<div *ngFor="let item of itemsList">
    <h3> {{ item.title }} </h3>
    <span><b>Prijs</b>: {{ item.price }}</span><br />
    <span> {{ item.size }}</span><br />
    <span> Prijs per kg: {{ item.pricePerKg }} </span><br /><br />
    <img [src]="item.imageUrl" alt="Product Image" />

</div>

<!-- <app-api></app-api> -->